{
  "modno": 0,
  "instance": "{{ node_stack_hostname }}",
  "repos": [],
  "plans": [],
  "auth": {
    "disabled": false,
    "users": []
  }{{ ',' if node_stack_backrest_discord_webhook }}
{% if node_stack_backrest_discord_webhook %}
  "hooks": [
    {
      "conditions": ["CONDITION_SNAPSHOT_ERROR", "CONDITION_ANY_ERROR"],
      "actionDiscord": {
        "webhookUrl": "{{ node_stack_backrest_discord_webhook }}"
      }
    }
  ]
{% endif %}
}
